<div>
    <h1 class="page-header">
        Obituaries
        <small>Secondary Text</small>
    </h1>

    <% @obituaries.each do |obituary| %>
      <!-- First Blog Post -->
      <h2>
          <a href="#"><%= obituary.name %></a>
      </h2>
      <%# <p class="lead"> %>
      <%#     by <a href="index.php">Start Bootstrap</a> %>
      <%# </p> %>
      <p>
        <span class="glyphicon glyphicon-time"></span> Born: <%= obituary.birth_date %></br>
        <span class="glyphicon glyphicon-time"></span> Deceased: <%= obituary.death_date %>
      </p>
      <hr>
      <%= image_tag obituary.obituary_images[0].image.url(:medium), class: "img-responsive" %>
      <hr>
      <p><%= obituary.content %></p>
      <%= link_to obituary_path(obituary), class: "btn btn-primary" do %>
        Read More <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
      <% if obituary.user == current_user %>
        <%= link_to ('<span class="glyphicon glyphicon-pencil"></span>').html_safe, edit_obituary_path(obituary) %>
        <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, obituary, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

      <hr>

    <% end %>


    <!-- Pager -->
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Older</a>
        </li>
        <li class="next">
            <a href="#">Newer &rarr;</a>
        </li>
    </ul>

    <%= link_to 'New Obituary', new_obituary_path %>

</div>
